.filter{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
}

.filt-item{
    color: #ffffff;
    font-weight: bold;
    padding-left: .5em;
    padding-right: .5em;
    margin-right: .25em;
    margin-right: .25em;
    font-family: sans-serif;
}

.block-item.hidden{
    display:none;
}

.res-age-item.age-4-7, .filt-item.age-4-7 {
	background-color: #ed4239;
}

.res-age-item.age-7-9, .filt-item.age-7-9 {
	background-color: #f48831;
}

.res-age-item.age-9-11, .filt-item.age-9-11 {
	background-color: #feca30;
}

.res-age-item.age-11-14, .filt-item.age-11-14 {
	background-color: #18a14f;
}

.res-age-item.age-14-16, .filt-item.age-14-16 {
	background-color: #08a3d1;
}

.res-age-item.age-16-18, .filt-item.age-16-18 {
	background-color: #4f4e98;
}

.res-age-item.age-gt18, .filt-item.age-gt18 {
	background-color: #b52768;
}